{% extends 'foundation.html' %}

{% block body %}
    <div style="opacity: 0; margin-bottom: 1%; line-height: 1%; margin-left: 40%; margin-right: 40%">212</div>

    <div class="cloud-box" style="display: flex; flex-direction: column">
        <div class="person-box">
            <img src="/static/img/demo_photo.png" class="person-box-img">
            <div class="column-ul">
                <h1 class="title-page" style="opacity: 1">Dmitriy</h1>
                <p class="just-text">Occupation: C++/Web developer</p>
                <span class="person-box-text just-text">description\description\description\description\description\description\description</span>
            </div>
        </div>
    </div>

{% endblock %}
