{% extends 'foundation.html' %}

{% block body %}
    <div style="opacity: 0; margin-bottom: 1%; line-height: 1%; margin-left: 40%; margin-right: 40%">212</div>

    <div class="cloud-title">
        <h1 class="title-page">RavenGroup Team</h1>
    </div>
    <div class="cloud-box">
        <div class="img-block-1">
            <img class="icon_person" src="../static/img/demo_photo.png">
            <div style="background-color: white">
                <span class="description">Description of each person.</span>
                <span class="description">Description of each person.</span>
                <span class="description">Description of each person.</span>
            </div>

        </div>
        <div class="img-block-1">
            <div style="background-color: white">
                <span class="description">Description of each person.</span>
                <span class="description">Description of each person.</span>
                <span class="description">Description of each person.</span>
            </div>
            <img class="icon_person" src="../static/img/demo_photo.png">

        </div>
        <div class="img-block-1">
            <img class="icon_person" src="../static/img/demo_photo.png">
            <div style="background-color: white">
                <span class="description">Description of each person.</span>
                <span class="description">Description of each person.</span>
                <span class="description">Description of each person.</span>
            </div>

        </div>

    </div>
{% endblock %}
