{% extends 'foundation.html' %}

{% block body %}
    <div style="opacity: 0; margin-bottom: 1%; line-height: 1%; margin-left: 40%; margin-right: 40%">212</div>

    <div class="cloud-title">
        <h1 class="title-page">RavenGroup Team</h1>
    </div>
    <div class="cloud-box" style="display: flex; flex-direction: column">
        <div class="flex-cloud">
            <div class="img-block-1">
                <img class="img-block-1-1" src="../static/img/demo_photo.png">
                <p class="description">Nikita</p>
                <a onclick="links_Do()" class="more-link" href="/Nikita">More</a>
            </div>
            <div class="img-block-1">
                <img class="img-block-1-1" src="../static/img/demo_photo.png">
                <p class="description">Alexey</p>
                <a onclick="links_Do()" class="more-link" href="/Alexey">More</a>
            </div>
            <div class="img-block-1">
                <img class="img-block-1-1" src="../static/img/demo_photo.png">
                <p class="description">Lev</p>
                <a onclick="links_Do()" class="more-link" href="/Lev">More</a>
            </div>
            <div class="img-block-1">
                <img class="img-block-1-1" src="../static/img/demo_photo.png">
                <p class="description">Dmitriy</p>
                <a onclick="links_Do()" class="more-link" href="/Dmitriy">More</a>
            </div>
        </div>
        <p class="just-text" style="margin-top: 0">Our team was created in 2020.</p>
    </div>

{% endblock %}






















{#<div class="img-block-1">
{#            <img class="icon_person" src="../static/img/demo_photo.png">
{#            <div style="background-color: white">
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#            </div>
{#
{#        </div>
{#
{#        <div class="img-block-1">
{#            <div style="background-color: white">
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#            </div>
{#            <img class="icon_person" src="../static/img/demo_photo.png">
{#
{#        </div>
{#        <div class="img-block-1">
{#            <img class="icon_person" src="../static/img/demo_photo.png">
{#            <div style="background-color: white">
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#            </div>
{#
{#        </div>
{#        <div class="img-block-1">
{#            <div style="background-color: white">
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#                <span class="description">Description of each person.</span>
{#            </div>
{#            <img class="icon_person" src="../static/img/demo_photo.png">#}