{% extends 'foundation.html' %}

{% block body %}
<div style="opacity: 0; margin-bottom: 1%; line-height: 1%; margin-left: 40%; margin-right: 40%">212</div>
<div class="cloud-title">
    <h1 class="title-page">CycleDefence</h1>
</div>
    <div class="cloud-box">
        <p class="just-text"><strong class="local-title">CycleDefence</strong> - a project of <strong><a class="link-without-effects" href="/about">RavenGroup</a></strong> team that is developed for help client control their vehicle and find it, if it was stolen or lost.</p>
    </div>
{% endblock %}
